<footer class="footer">
    <div class="container-footer">
        <div class="py-4 row">
            <!-- Tentang Kami -->
            <div class="col-lg-4 col-md-6 mb-4 tentangkami">
                <h5 class="text-uppercase">Tentang Kami</h5>
                <p>Rasa Nusantara adalah platform yang menyajikan berbagai resep masakan khas Indonesia untuk Anda coba di rumah.
                    Rasa Nusantara dirancang untuk membantu pengguna dalam merencanakan dan menyiapkan makanan dengan mudah.
                </p>
            </div>
            <!-- Navigasi -->
            <div class="col-lg-4 col-md-6 mb-4">
                <h5 class="text-uppercase">Navigasi</h5>
                <div class="navigasi">
                    <ul>
                        <li><a href="/kategori/Sarapan" class="text-decoration-none">Sarapan</a></li>
                        <li><a href="/kategori/Makan Siang" class=" text-decoration-none">Makan Siang</a></li>
                        <li><a href="/kategori/Makan Malam" class="text-decoration-none">Makan Malam</a></li>
                        <li><a href="/kategori/Dessert" class="text-decoration-none">Dessert</a></li>
                    </ul>
                    <ul>
                        <li><a href="/kategori/Resep Ayam" class="text-decoration-none">Resep Ayam</a></li>
                        <li><a href="/kategori/Resep Daging" class=" text-decoration-none">Resep Daging</a></li>
                        <li><a href="/kategori/Resep Seafood" class="text-decoration-none">Resep Seafood</a></li>
                        <li><a href="/kategori/Resep Sayuran" class="text-decoration-none">Resep Sayuran</a></li>
                    </ul>
                </div>
            </div>
            <!-- Sosial Media -->
            <div class="col-lg-2 col-md-6 mb-4">
                <h5 class="text-uppercase">Ikuti Kami</h5>
                <ul class="list-unstyled sosial-media">
                    <li><a href="#" class=" me-3"><i class="bi bi-facebook"></i> Facebook</a></li>
                    <li><a href="#" class=" me-3"><i class="bi bi-instagram"></i> Instagram</a></li>
                    <li><a href="#" class=" me-3"><i class="bi bi-twitter"></i> Twitter</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center pt-3">
            <p class="mb-0 copyrighttext">&copy; 2024 Rasa Nusantara. All rights reserved.</p>
        </div>
    </div>
</footer>